# Build Sphinx and deploy to gh-pages
name: "Sphinx: Render docs"

on:
  push:
    branches: [dev]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Create venv & install deps
        run: |
          python -m venv .venv
          .venv/bin/python -m pip install --upgrade pip
          .venv/bin/pip install -r requirements.txt
          .venv/bin/pip install -i https://test.pypi.org/simple/ multipy

      # - name: Build Sphinx
      #   run: |
      #     .venv/bin/sphinx-build -b html -E docs/reference/src docs/reference/build

      # - name: Build HTML
      #   uses: ammaraskar/sphinx-action@master
      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: html-docs
      #     path: docs/build/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .docs/build
          publish_branch: gh-pages
